@use "../../../../general/base" as base;

.table {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2.3fr 1fr repeat(2, 1.5fr) 1fr;
  grid-template-rows: repeat(5, 0.2fr);
  grid-column-gap: 50px;
  grid-row-gap: 25px;

  .parentRow {
    color: base.$font-color;
    font-size: 0.6rem;
  }

  .childRow {
    color: base.$font-color;
    display: flex;
    align-items: center;
    font-size: 0.8rem;
  }

  :nth-child(6n + 7) {
    color: black;
    font-weight: 600;
  }

  .button-active,
  .button-inactive {
    width: 50%;
    height: 25%;
  }
}
