@use "../../../../general/base" as base;
@use "../../../../general/mediaQueries" as mq;

.table {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2.3fr 1fr repeat(2, 1.5fr) 1fr;
  grid-template-rows: repeat(5, 0.2fr);
  grid-column-gap: 50px;
  grid-row-gap: 25px;

  .parentRow {
    color: base.$font-color;
    font-size: 0.6rem;
  }

  .childRow {
    color: base.$font-color;
    display: flex;
    align-items: center;
    font-size: 0.8rem;
  }

  :nth-child(6n + 7) {
    color: black;
    font-weight: 600;
  }

  .button-active,
  .button-inactive {
    width: 3rem;
    height: 1.5rem;
    padding: 0;
  }
}

@mixin table800-600 {
  .table {
    grid-template-columns: 1.5fr 2.3fr 1fr;
    grid-template-rows: repeat(5, 0.2fr, 1fr);
  }
}

@mixin table480-320 {
  .table {
    grid-template-columns: 1.5fr 2.3fr;
    grid-template-rows: repeat(5, 0.2fr);
  }
}

@include mq.media800 {
  @include table800-600;
}
@include mq.media768 {
  @include table800-600;
}

@include mq.media600 {
  @include table800-600;
}
@include mq.media480 {
  @include table480-320;
}
@include mq.media320 {
  @include table480-320;
}
