@use "../../../../general/base" as base;
@use "../../common";

.pageBox {
  span {
    color: base.$font-color;
  }

  //Overwrite some button default styles
  .button-active,
  .button-inactive {
    padding: 0;
    height: 1.6rem;
    width: 1.6rem;
    border-radius: 14.5%;
    font-weight: bold;
  }
}
