@use "../base" as base;

%button-shared {
  border-radius: 9.5%;
  padding: 0.4rem 0.69rem;
  cursor: pointer;
}

.button-active {
  @extend %button-shared;
  background: base.$background;
  color: white;
}

.button-inactive {
  @extend %button-shared;
  border: 1px solid base.$font-color;
  background: white;
  color: base.$font-color;
}
