@use "../../../../../../general/base" as base;

.terms-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 1rem;

  %terms-common {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }

  $termsPadding: 16%;

  .terms-keys {
    @extend %terms-common;
    padding-right: $termsPadding;
    div {
      color: base.$font-color;
      text-transform: uppercase;
    }
  }

  .terms-values {
    @extend %terms-common;
    padding-left: $termsPadding;
    div {
      font-weight: 600;
    }
  }
}
