@use "../general/base" as base;

.main-content {
  width: calc(100vw - #{base.$nav-horizontal-height});
  min-height: calc(100vh - #{base.$nav-horizontal-height});
  display: flex;
  flex-direction: column;
  padding: 0 1.8rem;
}
