@use "../../general/base" as base;

.nav {
  &.nav-vertical {
    min-height: calc(100vh - #{base.$nav-horizontal-height});
    height: 100%;
    width: base.$nav-horizontal-height;
    min-width: 3rem;
    display: flex;
    justify-content: start;
    border-right: 1px solid #ebedf8;

    .nav-list {
      flex-direction: column;
      height: 100%;
      width: 100%;

      &:first-child {
        margin-top: 1.15rem;
      }

      .nav-item {
        height: 2.5rem;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1rem;
        margin-bottom: 1rem;
      }

      .item-active {
        &::before {
          height: 100%;
          width: 0.1rem;
          right: 0;
          background: base.$background;
        }
        color: base.$background;
      }

      a {
        display: block;
        width: 100%;
        height: 100%;
        text-align: center;
        line-height: 2.5rem;
        svg {
          font-size: 1rem;
        }
      }
    }
  }
}
