@use "../general/base" as base;

.nav {
  display: flex;
  background: white;

  .nav-list {
    list-style: none;

    .nav-item {
      position: relative;
    }

    .item-active::before {
      content: "";
      position: absolute;
    }

    a {
      color: base.$font-color;
      text-decoration: none;
    }
  }
}
